<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} | {{SITE_NAME}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/semantic/semantic.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
        {{#if GOOGLE_ANALYTICS}}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{GOOGLE_ANALYTICS}}');
        </script>
        {{/if}}
    </head>
    <body>
        <div class="ui grid container">
            <div class="column">
                <h1 class="ui dividing header" {{#if page}}data-edit-url="/edit/{{page.page_id}}"{{/if}}>
                    {{title}}
                    <div class="emojicon" title="{{emoji_caption}}">
                        {{#if emoji}}
                        {{{emoji}}}
                        {{else}}
                        <img class="emoji" draggable="false" alt="👨‍💻" src="https://twemoji.maxcdn.com/v/12.1.4/72x72/1f468-200d-1f4bb.png">
                        {{/if}}
                    </div>
                </h1>

                {{{body}}}
            </div>
        </div>
    </body>
    <script src="/static/hammerjs/hammer.min.js"></script>
    <script src="/static/tapedit.js"></script>
</html>
