<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} | {{SITE_NAME}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/static/semantic/semantic.min.css"> -->
        <!-- <link rel="stylesheet" href="/static/style.css"> -->
        <link rel="stylesheet" href="/static/bundle.css">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
        {{#if GOOGLE_ANALYTICS}}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{GOOGLE_ANALYTICS}}');
        </script>
        {{/if}}
    </head>
    <body>
        <div class="ui grid container">
            <div class="column">
                <div class="ui buttons">
                <a href="/" class="basic tiny ui button {{#if isHomePage}}disabled{{/if}}">
                    /
                    <img draggable="false" alt="🏠" src="/static/twemoji/72x72/1f3e0.png">
                </a>
                <a href="/all" class="basic tiny ui button {{#if isAllPages}}disabled{{/if}}">
                    /all
                    <img draggable="false" alt="🎲" src="/static/twemoji/72x72/1f4da.png">
                </a>
                <a href="/random" class="basic tiny ui button">
                    /random
                    <img draggable="false" alt="🎲" src="/static/twemoji/72x72/1f3b2.png">
                </a>
                </div>
                <div class="ui piled segment">
                    <h1 class="ui header" {{#if page}}data-edit-url="/edit/{{page.page_id}}"{{/if}}>
                        {{title}}
                    </h1>

                    {{{body}}}

                    <div class="ui horizontal divider">
                        summary
                    </div>

                    <div class="emoji-summary">
                        <div>
                        {{#if emoji}}
                        {{{emoji}}}
                        {{else}}
                        <img class="emoji"  draggable="false" alt="👨‍💻" src="/static/twemoji/72x72/1f468-200d-1f4bb.png">
                        {{/if}}
                        </div>
                        <div class="emoji-caption">
                            {{{emoji_caption}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/bundle.min.js"></script>
</html>
