/* Since the site is prose, reduce the page width to help
   readability. */
body .ui.grid.container {
  max-width: 600px !important;
}

/* Apply semantic UI's .error class to any invalid input. */
.ui input:invalid {
  background-color: #fff6f6 !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ui input:invalid::-webkit-input-placeholder {
  color: #e7bdbc !important;
}
.ui input:invalid::-moz-placeholder {
  color: #e7bdbc !important;
}
.ui input:invalid:-ms-input-placeholder {
  color: #e7bdbc !important;
}

.ui input:invalid:focus::-webkit-input-placeholder {
  color: #da9796;
}
.ui input:invalid:focus::-moz-placeholder {
  color: #da9796;
}
.ui input:invalid:focus:-ms-input-placeholder {
  color: #da9796 !important;
}

body {
  padding-top: 10px;
  font-size: 16px;
}

.content {
  text-align: justify;
}

h2 {
  font-size: 1.5em;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

blockquote {
  margin-right: 0;
}

a {
  color: blue;
}

.menu a {
  border-bottom: 0;
}

a:hover {
  color: blue;
  border-bottom: 1px solid blue;
}

.no-such-page {
  color: gray;
}
.no-such-page:hover {
  color: gray;
  border-bottom: 1px solid gray;
}

code {
  background-color: rgba(220, 220, 220, 0.5);
  padding: 0 2px;
}

.ui.container {
  margin-left: 0.1em !important;
}

.ui.piled.segment {
  margin-top: 1em;
}

/* On smartphones (this is the width of an iPhone XS), use less margin
 so we have more width for text. */
@media only screen and (max-width: 414px) {
  .ui.container {
    margin-right: 0.1em !important;
  }
}

.content img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.emoji-summary {
  text-align: center;
}

.emoji-summary img {
  height: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.button img {
  height: 1.4em;
  vertical-align: -0.2em;
  margin-left: 5px;
}

.emoji-caption {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease-out;
}

.emoji-summary:hover .emoji-caption,
.emoji-summary:active .emoji-caption {
  visibility: visible;
  opacity: 1;
}
