/* Since the site is prose, reduce the page width to help
   readability. */
body .ui.grid.container {
  max-width: 600px !important;
}

/* Apply semantic UI's .error class to any invalid input. */
.ui input:invalid {
  background-color: #fff6f6 !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ui input:invalid::-webkit-input-placeholder {
  color: #e7bdbc !important;
}
.ui input:invalid::-moz-placeholder {
  color: #e7bdbc !important;
}
.ui input:invalid:-ms-input-placeholder {
  color: #e7bdbc !important;
}

.ui input:invalid:focus::-webkit-input-placeholder {
  color: #da9796;
}
.ui input:invalid:focus::-moz-placeholder {
  color: #da9796;
}
.ui input:invalid:focus:-ms-input-placeholder {
  color: #da9796 !important;
}

body {
  padding-top: 10px;
  font-size: 16px;
}

h2 {
  font-size: 1.5em;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

a {
  color: blue;
}

.menu a {
  border-bottom: 0;
}

a:hover {
  color: blue;
  border-bottom: 1px solid blue;
}

.no-such-page {
  color: gray;
}
.no-such-page:hover {
  color: gray;
  border-bottom: 1px solid gray;
}

code {
  background-color: rgba(220, 220, 220, 0.5);
  padding: 0 2px;
}

.ui.container {
  margin-left: 0.1em !important;
}

.emojicon {
  /* Position fixed in the bottom right corner of the browser window. */
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.emojicon img {
  display: block;
  padding-top: 20px;
}

.right-button {
  float: right;
}

.content .right-button .emoji {
  height: 2em;
  width: 2em;
}

/* On smartphones (this is the width of an iPhone XS), use less margin
 so we have more width for text. */
@media only screen and (max-width: 414px) {
  .ui.container {
    margin-right: 0.1em !important;
  }
}

.content img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

@media (max-width: 700px) {
  .emojicon {
    display: inline-block;
    position: relative;
    bottom: 0;
    right: 0;
    width: auto;
  }
  .emojicon img {
    display: inline-block;
    padding-top: 0;
  }

  /* Style as 'top right' as 'bottom right'. TODO: fix arrow. */
  .emojicon[data-position~="top"][data-tooltip]:before {
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 0px 0px #bababc;
    box-shadow: -1px -1px 0px 0px #bababc;
  }
  .emojicon[data-position="top right"][data-tooltip]:after {
    right: 0;
    top: 100%;
    bottom: auto;
    margin-top: 0.5em;
    margin-bottom: 1rem;
  }

  img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
  }
}
